*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: rgb(216, 151, 60);
}
header{
    width: 100%;
}
.marcoARG{
    justify-items: center;
    text-align: center;
    width: 250px;
    height: 175px;
    background-color: rgb(28, 192, 241);
    border-radius: 5px;
    border-style: outset;
    border-color: rgb(216, 231, 9);
}
.informacionARG{
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.marco{
    justify-items: center;
    text-align: center;
    width: 250px;
    height: 150px;
    background-color: rgb(216, 32, 84);
    border-radius: 5px;
    border-style: unset;
    border-color: rgb(164, 19, 60);
}
.informacion{
    text-align: center;
    font-weight: 700;
    align-items: center;
    margin-top: 20px;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.grid{
    display: grid;
    grid-template-rows:  29% 44% 17% 10%;
    grid-template-areas: 
    "header"
    "centro"
    "video600"
    "footer";

}
.grids{
    display: grid;
    grid-template-rows: 21% 27% 10% 26% 10% 6%;
    grid-template-areas: 
    "header"
    "centros"
    "videos600"
    "centros1"
    "videos602"
    "footer";
}
.pie{
    grid-area: footer;
}
.centros1{
    grid-area: centros1;

}
.videos602{
    grid-area: videos602;
}
.header{
    width: 100%;
}
.centros1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.centros, .section01, .section02, .section03, .section04, .section05, .section06, .section07, .section08{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imagenes, .imagenes1{
    justify-content: center;
}
.imagen001, .imagen002{ 
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    border: inset 10px rgb(141, 153, 174);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2.5s;
}
.centros1:hover .img001{
    transform: translateX(-50px)
    }
    
.centros1:hover .img002{
        transform: translateX(50px)
        }

        .centros:hover .img001{
            transform: translateX(-50px)
        }
        .centros:hover .img002{
            transform: translateX(50px)
        }
        .section01:hover .img001{
            transform: translateX(-50px)
        }
        .section01:hover .img002{
            transform: translateX(50px)
        }
        .section02:hover .img001{
            transform: translateX(-50px)
        }
        .section02:hover .img002{
            transform: translateX(50px)
        }
        .section03:hover .img001{
            transform: translateX(-50px)
        }
        .section03:hover .img002{
            transform: translateX(50px)
        }
        .section04:hover .img001{
            transform: translateX(-50px)
        }
        .section04:hover .img002{
            transform: translateX(50px)
        }
        .section05:hover .img001{
            transform: translateX(-50px)
        }
        .section05:hover .img002{
            transform: translateX(50px)
        }
        .section06:hover .img001{
            transform: translateX(-50px)
        }
        .section06:hover .img002{
            transform: translateX(50px)
        }
        .section07:hover .img001{
            transform: translateX(-50px)
        }
        .section07:hover .img002{
            transform: translateX(50px)
        }
        .section08:hover .img001{
            transform: translateX(-50px)
        }
        .section08:hover .img002{
            transform: translateX(50px)
        }

.header{
    grid-area: header;
}
.centros{
    grid-area: centros;
}
.videos600{
    grid-area: videos600
}
.videos600{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.head2{
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    margin-top: 10px;
}
header{
    grid-area: header;
}


.video600{
    grid-area: video600;
}

.pie, .piec{
    grid-area: footer;
}
.H2titulo{
    display: flex;
    justify-content: center;
}
.title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-family: 'Manrope', sans-serif;
    font-family: 'Secular One', sans-serif;
    text-decoration: underline;

}


.nav-link{
    background-color: rgb(192, 27, 74);
}
.navbar-brand, .nav-item{
    font-size: 15px;
    margin:5px;
}
.collapse{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.navbar, .navbar-expand-lg{
    background-color: rgb(164, 19, 60);
}  
.li1{
    display: inline-flex;
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 15px;
    margin-right: 2px;
    list-style-type: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(164, 19, 60);
}

.head2{
    width: 100%;

}
.center2{
    margin-left: 30px;
}
.row{
    margin-top: 50px;
}
.row{
    width: 100%;
}
.center1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}
.Texto1{
    text-align: center;
    width: 200px;
    height: 125px;
    font-size: 18px;
    background-color: rgb(216, 32, 84);
    font-family: 'Cinzel', serif;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(164, 19, 60);
}

.header1{
    color: rgb(216, 151, 60);
    font-weight: 700;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(164, 19, 60);
    background-color: rgb(216, 32, 84);
    font-size: smaller;
}

.gridSections1{
    display: grid;
    grid-template-rows: 61% 20% 19%;
    grid-template-areas: 
    "head1"
    "center1"
    "footer"
    ;
}
.head1{
    grid-area: head1;
}
.center1{
    grid-area: center1;
}
.pie{
    grid-area: footer;
}
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-focus-in2 {
	-webkit-animation: text-focus-in 1500ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1500ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in3 {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in4 {
	-webkit-animation: text-focus-in 2500ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2500ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in5 {
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.text-focus-in6 {
	-webkit-animation: text-focus-in 3500ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 3500ms cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .scale-in-hor-center {
	-webkit-animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  
  .slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 2.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 2.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bck-center2 {
	-webkit-animation: slide-in-bck-center 3.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 3.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bck-center3 {
	-webkit-animation: slide-in-bck-center 4.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 4.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-bck-center4 {
	-webkit-animation: slide-in-bck-center 5.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 5.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
  

.navegator{
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
background-color: rgb(105, 48, 195);
}

body{
    width: 100%;
    background-color: rgb(237, 242, 244)
}

.centro{
    width: 100%;
    margin-bottom: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen01, .imagen02, .imagen03{ 
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    border: inset 10px rgb(141, 153, 174);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2.5s;
}
.centro:hover .img01{
transform: translateX(-50px)
}

.centro:hover .img03{
    transform: translateX(50px)
    }
.video600{
    display: flex;
    justify-content: center;
}
.video601{
    border: outset 15px rgb(141, 153, 174);
}

.titulo{
    margin: 0%;
    font-weight: 700;
    color: rgb(216, 151, 60);
    text-align: center;
    font-size: 15px;  
    font-family: 'Secular One', sans-serif;
    background-color: rgb(114, 9, 183);
   

}

.title{
    margin-top: 20px;
    padding-top: 10px;
    font-size: 11px;
    font-weight: bolder;
    font-family: 'Manrope', sans-serif;
    font-family: 'Secular One', sans-serif;
    text-decoration: underline;
    text-align: center;

}
.grids4{
    display: grid;
    grid-template-rows: 11% 21% 21% 21% 22% 4%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.pie{
    grid-area: footer;
}
.grids5{
    display: grid;
    grid-template-rows: 9% 18% 17% 18% 17% 18% 3%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.pie{
    grid-area: footer;
}
.grids6{
    display: grid;
    grid-template-rows: 7% 15% 15% 15% 15% 15% 15% 3%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "section06"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.section06{
    grid-area: section06;
}
.pie{
    grid-area: footer;
}
.grids7{
    display: grid;
    grid-template-rows: 7% 13% 13% 13% 13% 13% 13% 13% 2%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "section06"
    "section07"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.section06{
    grid-area: section06;
}
.section07{
    grid-area: section07;
}
.pie{
    grid-area: footer;
}
.grids8{
    display: grid;
    grid-template-rows: 6% 12% 12% 11% 12% 11% 12% 11% 11% 2%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "section06"
    "section07"
    "section08"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.section06{
    grid-area: section06;
}
.section07{
    grid-area: section07;
}
.section08{
    grid-area: section08;
}
.pie{
    grid-area: footer;
}
footer{
    width: 100%;
    margin-top: 70px;
    background-color: rgb(105, 48, 195);
    display: grid;
    grid-template-rows: repeat(2,fr);
    grid-row-gap: 10px;
    grid-template-areas: 
    "info social"
    ;
}
.tPie{
    font-size: 40px;
}

.info{
    grid-area: info;
    width: 6px;
    height: 12px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
    margin-right: 2px;
}

.social{
    display: inline-flex;
    flex-direction: row;
    grid-area: social;
    margin-top: 5px;
    margin-left: 20px;

   
}

.ig, .facebook, .twitter, .paypal{
   display: inline-block;
   margin-left: 5px;
   margin-right: 5px;
}

.gridSections{
    display: grid;
    grid-template-rows: 53% 35% 15%;
    grid-template-areas: 
    "encabezado"
    "centros"
    "footer";
}
.pie{
    grid-area: footer;
}

.center{
    grid-area: centros;
}

.encabezado{
    grid-area: encabezado;
}
@media (min-width:500px){
    a{
        text-decoration: none;
        color: rgb(216, 151, 60);
    }
    
    .grid{
        display: grid;
        grid-template-rows:  25% 46% 19% 10%;
        grid-template-areas: 
        "header"
        "centro"
        "video600"
        "footer";
    
    }
    
    header{
        grid-area: header;
    }
    
    
    .video600{
        grid-area: video600;
    }
    
    footer{
        grid-area: footer;
    }
    .H2titulo{
        display: flex;
        justify-content: center;
    }
    .title{
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bolder;
        font-family: 'Manrope', sans-serif;
        font-family: 'Secular One', sans-serif;
        text-decoration: underline;
    
    }
    .grids{
        display: grid;
        grid-template-rows: 18% 27% 10% 28% 12% 5%;
        grid-template-areas: 
        "header"
        "centros"
        "videos600"
        "centros1"
        "videos602"
        "footer";
    }
    .pie{
        grid-area: footer;
    }
    .centros{
        grid-area: centros;
    }
    .centros1{
        grid-area: centros1;
    
    }
    .videos602{
        grid-area: videos602;
    }
    .header{
        width: 100%;
    }
    .centros1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .centros, .section01, .section02, .section03, .section04, .section05, .section06, .section07, .section08{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .grids3{
        display: grid;
        grid-template-rows: 13% 27% 28% 28% 4%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .sections01{
        grid-area: sections01;
    }
    .sections02{
        grid-area: sections02;
    }
    .sections03{
        grid-area: sections03;
    }
    footer{
        grid-area: footer;
    }

    .imagenes{
        justify-content: center;
    }
    .imagen001, .imagen002{ 
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-left: 5px;
        border: inset 10px rgb(141, 153, 174);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 2.5s;
    }
    .centros:hover .img001{
        transform: translateX(-100px)
        }
        
        .centros:hover .img002{
            transform: translateX(100px)
            }
            .centros1:hover .img002{
                transform: translateX(100px)
                }
                .centros1:hover .img001{
                    transform: translateX(-100px)
                    }
                    .section01:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section01:hover .img002{
                        transform: translateX(100px)
                    }
                    .section02:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section02:hover .img002{
                        transform: translateX(100px)
                    }
                    .section03:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section03:hover .img002{
                        transform: translateX(100px)
                    }
                    .section04:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section04:hover .img002{
                        transform: translateX(100px)
                    }
                    .section05:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section05:hover .img002{
                        transform: translateX(100px)
                    }
                    .section06:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section06:hover .img002{
                        transform: translateX(100px)
                    }
                    .section07:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section07:hover .img002{
                        transform: translateX(100px)
                    }
                    .section08:hover .img001{
                        transform: translateX(-100px)
                    }
                    .section08:hover .img002{
                        transform: translateX(100px)
                    }
    .header{
        grid-area: header;
    }
    .centros{
        grid-area: centros;
    }
    .videos600{
        grid-area: videos600
    }
    .videos600{
        display: flex;
        justify-content: center;
    }
    .centro:hover .img01{
        transform: translateX(-100px)
    }
        
    .centro:hover .img03{
            transform: translateX(100px)
    }
    .marcoARG{
        justify-items: center;
        text-align: center;
        width: 350px;
        height: 275px;
        background-color: rgb(28, 192, 241);
        border-radius: 5px;
        border-style: outset;
        border-color: rgb(216, 231, 9);
    }
    .informacionARG{
        color: aliceblue;
        text-align: center;
        font-weight: 700;
        align-items: center;
        margin-top: 20px;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .grids4{
        display: grid;
        grid-template-rows: 10% 21% 21% 23% 22% 3%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .pie{
        grid-area: footer;
    }
    .grids5{
        display: grid;
        grid-template-rows: 7% 18% 18% 18% 18% 18% 3%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .pie{
        grid-area: footer;
    }
    .grids6{
        display: grid;
        grid-template-rows: 6% 15% 16% 15% 16% 15% 15% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .pie{
        grid-area: footer;
    }
    .grids7{
        display: grid;
        grid-template-rows: 5% 13% 14% 13% 13% 14% 13% 13% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "section07"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .section07{
        grid-area: section07;
    }
    .pie{
        grid-area: footer;
    }
    .grids8{
        display: grid;
        grid-template-rows: 5% 12% 12% 11% 12% 11% 12% 11% 12% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "section07"
        "section08"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .section07{
        grid-area: section07;
    }
    .section08{
        grid-area: section08;
    }
    .pie{
        grid-area: footer;
    }
    .marco{
    justify-items: center;
    text-align: center;
    width: 350px;
    height: 250px;
    background-color: rgb(216, 32, 84);
    border-radius: 5px;
    border-style: unset;
    border-color: rgb(164, 19, 60);
    }
    .informacion{
    text-align: center;
    font-weight: 700;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .nav-link{
        color: rgb(216, 151, 60);
        background-color: rgb(114, 9, 183);
    }
    .navbar-brand, .nav-item{
        font-size: 20px;
        margin:5px;
        font-weight: 700;
    }
    .collapse{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .navbar, .navbar-expand-lg{
        background-color: rgb(112, 52, 209);
    }  
    .li1{
        display: inline-flex;
        margin-top: 15px;
        margin-left: 5px;
        margin-bottom: 15px;
        margin-right: 5px;
        list-style-type: none;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        background-color: rgb(105, 48, 195);
    }
    
    .navegator{
    display: flex;
    justify-content: center;
    background-color: rgb(164, 19, 60);
    }
    header{
        width: 100%;
    }
    body{
        width: 100%;
        background-color: rgb(237, 242, 244)
    }
    
    .centro{
        width: 100%;
        margin-bottom: 50px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .imagen01, .imagen02, .imagen03{ 
        margin-top: 10px;
        margin-bottom: 10px;
        border: inset 10px rgb(141, 153, 174);
    }
    
    .video600{
        display: flex;
        justify-content: center;
    }
    .video601{
        width: 426px;
        height: 240px;
        margin-top: 10px;
        margin-bottom: 30px;
        border: outset 20px rgb(141, 153, 174);
    }
    
    .titulo{
        color: rgb(216, 151, 60);
        text-align: center;
        font-size: 20px;  
        font-family: 'Secular One', sans-serif;
        background-color: rgb(164, 19, 60);
       
    
    }
    
    .title{
        margin-top: 20px;
        padding-top: 10px;
        font-size: 20px;
        font-weight: bolder;
        font-family: 'Manrope', sans-serif;
        font-family: 'Secular One', sans-serif;
        text-decoration: underline;
        text-align: justify;
    
    }
    .head2{
        width: 100%;
    
    }
    .center2{
        margin-left: 30px;
    }
    .row{
        width: 100%;
    }
    
    .center1{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
    }
    .Texto1{
        text-align: center;
        width: 250px;
        height: 150px;
        font-size: 22px;
        background-color: rgb(216, 32, 84);
        font-family: 'Cinzel', serif;
        border-radius: 5px;
        border-style: solid;
        border-color: rgb(164, 19, 60);
    }
    
    .header1{
        color: rgb(216, 151, 60);
        font-weight: 700;
        text-align: center;
        justify-content: center;
        width: 250px;
        height: 30px;
        border-radius: 5px;
        border-style: solid;
        border-color: rgb(164, 19, 60);
        background-color: rgb(216, 32, 84);
        font-size: medium;
    }
    
    .gridSections1{
        display: grid;
        grid-template-rows: 61% 22% 17%;
        grid-template-areas: 
        "head1"
        "center1"
        "footer"
        ;
    }
    .head1{
        grid-area: head1;
    }
    .center1{
        grid-area: center1;
    }
    .pie{
        grid-area: footer;
    }
    footer{
        width: 100%;
        margin-top: 70px;
        background-color: rgb(105, 48, 195);
        display: grid;
        grid-template-rows: repeat(2,fr);
        grid-row-gap: 10px;
        grid-template-areas: 
        "info social"
        ;
    }
    .tPie{
        font-size: 40px;
    }
    
    .info{
        grid-area: info;
        width: 12px;
        height: 12px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-right: 2px;
    }
    
    .social{
        display: inline-flex;
        flex-direction: row;
        grid-area: social;
        margin-top: 10px;
        margin-left: 100px;
       
    }
    
    .ig, .facebook, .twitter, .paypal{
       display: inline-block;
       margin-left: 10px;
       margin-right: 10px;
    }   
}

@media (min-width:768px){
    a{
        text-decoration: none;
        color: rgb(216, 151, 60);
    }
    
    .grid{
        display: grid;
        grid-template-rows:  23% 47% 21% 9%;
        grid-template-areas: 
        "header"
        "centro"
        "video600"
        "footer";
    
    }
    
    header{
        grid-area: header;
    }
    
    
    .video600{
        grid-area: video600;
    }
    
    footer{
        grid-area: footer;
    }
    .H2titulo{
        display: flex;
        justify-content: center;
    }
    .title{
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bolder;
        font-family: 'Manrope', sans-serif;
        font-family: 'Secular One', sans-serif;
        text-decoration: underline;
    
    }
    
    .nav-link{
        background-color: rgb(192, 27, 74);
    }
    .navbar-brand, .nav-item{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 27px;
        margin: 5px;
    }
    .collapse{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .navbar, .navbar-expand-lg{
        background-color: rgb(164, 19, 60);
    }  
   
    .li1{
        display: inline-flex;
        list-style-type: none;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(164, 19, 60);
    }
    
    .navegator{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(105, 48, 195);
    }
    
    body{
        width: 100%;
        background-color: rgb(237, 242, 244)
    }
    .grids{
        display: grid;
        grid-template-rows: 16% 25% 14% 26% 13% 6%;
        grid-template-areas: 
        "header"
        "centros"
        "videos600"
        "centros1"
        "videos602"
        "footer";
    }
    .pie{
        grid-area: footer;
    }
    .centros1{
        grid-area: centros1;
    
    }
    .videos602{
        grid-area: videos602;
    }
    .header{
        width: 100%;
    }
    .centros1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .centros, .section01, .section02, .section03, .section04, .section05, .section06, .section07, .section08{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .grids3{
        display: grid;
        grid-template-rows: 12% 28% 28% 29% 3%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .sections01{
        grid-area: sections01;
    }
    .sections02{
        grid-area: sections02;
    }
    .sections03{
        grid-area: sections03;
    }
    .pie{
        grid-area: footer;
    }
    .imagenes{
        justify-content: center;
    }
    .imagen001, .imagen002{ 
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-left: 5px;
        border: inset 10px rgb(141, 153, 174);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 2.5s;
    }
    .centros:hover .img001{
        transform: translateX(-150px)
        }
        
        .centros:hover .img002{
            transform: translateX(150px)
            }
            .centros1:hover .img001{
                transform: translateX(-150px)
                }
                
                .centros1:hover .img002{
                    transform: translateX(150px)
                    }
            .section01:hover .img001{
                transform: translateX(-150px)
            }
            .section01:hover .img002{
                transform: translateX(150px)
            }
            .section02:hover .img001{
                transform: translateX(-150px)
            }
            .section02:hover .img002{
                transform: translateX(150px)
            }
            .section03:hover .img001{
                transform: translateX(-150px)
            }
            .section03:hover .img002{
                transform: translateX(150px)
            }
    .header{
        grid-area: header;
    }
    .centros{
        grid-area: centros;
    }
    .videos600{
        grid-area: videos600
    }
    .videos600{
        display: flex;
        justify-content: center;
    }
    .centro:hover .img01{
        transform: translateX(-200px)
    }
        
    .centro:hover .img03{
            transform: translateX(200px)
    }
    .centros1:hover .img002{
        transform: translateX(200px)
        }
        .centros1:hover .img001{
            transform: translateX(-200px)
            }
            .marcoARG{
                justify-items: center;
                text-align: center;
                width: 550px;
                height: 375px;
                background-color: rgb(28, 192, 241);
                border-radius: 5px;
                border-style: outset;
                border-color: rgb(216, 231, 9);
            }
            .informacionARG{
                color: aliceblue;
                text-align: center;
                font-weight: 700;
                align-items: center;
                margin-top: 20px;
                font-size: 25px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
    .marco{
    justify-items: center;
    text-align: center;
    width: 550px;
    height: 300px;
    background-color: rgb(216, 32, 84);
    border-radius: 5px;
    border-style: unset;
    border-color: rgb(164, 19, 60);
    }
    .informacion{
    text-align: center;
    font-weight: 700;
    align-items: center;
    margin-top: 20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .grids4{
        display: grid;
        grid-template-rows: 9% 22% 21% 23% 22% 3%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .pie{
        grid-area: footer;
    }
    .grids5{
        display: grid;
        grid-template-rows: 7% 18% 18% 18% 19% 18% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .pie{
        grid-area: footer;
    }
    .grids6{
        display: grid;
        grid-template-rows: 6% 15% 16% 15% 16% 15% 15% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .pie{
        grid-area: footer;
    }
    .grids7{
        display: grid;
        grid-template-rows: 5% 13% 14% 13% 14% 13% 13% 13% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "section07"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .section07{
        grid-area: section07;
    }
    .pie{
        grid-area: footer;
    }
    .grids8{
        display: grid;
        grid-template-rows: 4.3% 11.7% 12% 11% 12% 12% 12% 11% 12% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "section07"
        "section08"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .section07{
        grid-area: section07;
    }
    .section08{
        grid-area: section08;
    }
    .pie{
        grid-area: footer;
    }
    .centro{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .imagen01, .imagen02, .imagen03{ 
        margin-top: 10px;    
        margin-bottom: 10px;
        border: inset 10px rgb(141, 153, 174);
    }
    
    .video600{
        display: flex;
        justify-content: center;
    }
    .video601{
        width: 640px;
        height: 360px;
        margin-right: 10px;
        border: outset 15px rgb(141, 153, 174);
    }
    
    .titulo{
        color: rgb(216, 151, 60);
        font-weight: 900;
        text-align: center;
        font-size: 25px;  
        font-family: 'Secular One', sans-serif;
        background-color: rgb(114, 9, 183);
       
    
    }
    .title{
        margin-top: 20px;
        padding-top: 10px;
        font-size: 25px;
        font-weight: 900;
        font-family: 'Manrope', sans-serif;
        font-family: 'Secular One', sans-serif;
        text-decoration: underline;
        text-align: center;
    
    } 
    .head2{
        width: 100%;

    }
    .center2{
        margin-left: 20px;
    }
    .row{
        margin-top: 30px;
    }
    .row{
        width: 100%;
    }

    .center1{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .Texto1{
        text-align: center;
        width: 300px;
        height: 230px;
        font-size: 30px;
        background-color: rgb(216, 32, 84);
        font-family: 'Cinzel', serif;
        border-radius: 25px;
        border-style: solid;
        border-color: rgb(164, 19, 60);
    }
    
    .header1{
        color: rgb(216, 151, 60);
        font-weight: 700;
        text-align: center;
        justify-content: center;
        width: 300px;
        height: 75px;
        border-radius: 5px;
        border-style: solid;
        border-color: rgb(164, 19, 60);
        background-color: rgb(216, 32, 84);
        font-size: 28px;
    }
    
    .gridSections1{
        display: grid;
        grid-template-rows: 52% 34% 14%;
        grid-template-areas: 
        "head1"
        "center1"
        "footer"
        ;
    }
    .head1{
        grid-area: head1;
    }
    .center1{
        grid-area: center1;
    }
    .pie{
        grid-area: footer;
    }
    footer{
        width: 100%;
        margin-top: 70px;
        background-color: rgb(105, 48, 195);
        display: grid;
        grid-template-rows: repeat(2,fr);
        grid-row-gap: 10px;
        grid-template-areas: 
        "info social"
        ;
    }
    .tPie{
        font-size: 40px;
    }
    
    .info{
        grid-area: info;
        width: 12px;
        height: 12px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-right: 2px;
    }
    
    .social{
        display: inline-flex;
        flex-direction: row;
        grid-area: social;
        margin-left: 100px;
        margin-top: 10px;
       
    }
    
    .ig, .facebook, .twitter, .paypal{
       display: inline-block;
       margin-left: 10px;
       margin-right: 10px;
    }
}
@media (min-width:992px){
    .grid{
        display: grid;
        grid-template-rows:  16% 52% 26% 10%;
        grid-template-areas: 
        "header"
        "centro"
        "video600"
        "footer";
    
    }
    .nav-link{
        background-color: rgb(192, 27, 74);
    }
    .navbar-brand, .nav-item{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 27px;
        margin: 5px;
    }
    .collapse{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .navbar, .navbar-expand-lg{
        background-color: rgb(164, 19, 60);
    }  
}

@media (min-width:1024px){
    a{
        text-decoration: none;
        color: rgb(216, 151, 60);
    }
    
    .grid{
        display: grid;
        grid-template-rows:  17% 47% 28% 8%;
        grid-template-areas: 
        "header"
        "centro"
        "video600"
        "footer";
    
    }
    header{
        width:100%;
    }
    header{
        grid-area: header;
    }
    
    .video600{
        grid-area: video600;
    }
    
    footer{
        grid-area: footer;
    }
    .H2titulo{
        display: flex;
        justify-content: center;
    }
    .title{
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: bolder;
        font-family: 'Manrope', sans-serif;
        font-family: 'Secular One', sans-serif;
        text-decoration: underline;
    
    }
    .grids{
        display: grid;
        grid-template-rows: 11% 27% 15% 28% 14% 5%;
        grid-template-areas: 
        "header"
        "centros"
        "videos600"
        "centros1"
        "videos602"
        "footer";
    }
    .pie{
        grid-area: footer;
    }
    .centros1{
        grid-area: centros1;
    
    }
    .videos602{
        grid-area: videos602;
    }
    .header{
        width: 100%;
    }
    .centros1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .centros{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .grids3{
        display: grid;
        grid-template-rows: 8% 29% 30% 30% 3%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .sections01{
        grid-area: sections01;
    }
    .sections02{
        grid-area: sections02;
    }
    .sections03{
        grid-area: sections03;
    }
    .pie{
        grid-area: footer;
    }
    .centros1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .centros, .section01, .section02, .section03, .section04, .section05, .section06, .section07, .section08{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .imagenes{
        justify-content: center;
    }
    .imagen001, .imagen002{ 
        margin-top: 10px;
        margin-right: 5px;
        margin-bottom: 10px;
        margin-left: 5px;
        border: inset 10px rgb(141, 153, 174);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 2.5s;
    }
            .centros1:hover .img002{
                transform: translateX(200px)
                }
                .centros1:hover .img001{
                    transform: translateX(-200px)
                    }
                    .section01:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section01:hover .img002{
                        transform: translateX(200px)
                    }
                    .section02:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section02:hover .img002{
                        transform: translateX(200px)
                    }
                    .section03:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section03:hover .img002{
                        transform: translateX(200px)
                    }
                    .section04:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section04:hover .img002{
                        transform: translateX(200px)
                    }
                    .section05:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section05:hover .img002{
                        transform: translateX(200px)
                    }
                    .section06:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section06:hover .img002{
                        transform: translateX(200px)
                    }
                    .section07:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section07:hover .img002{
                        transform: translateX(200px)
                    }
                    .section08:hover .img001{
                        transform: translateX(-200px)
                    }
                    .section08:hover .img002{
                        transform: translateX(200px)
                    }
    .header{
        grid-area: header;
    }
    .centros{
        grid-area: centros;
    }
    .videos600{
        grid-area: videos600
    }
    .videos600{
        display: flex;
        justify-content: center;
    }
    .centro:hover .img01{
        transform: translateX(-200px)
    }
        
    .centro:hover .img03{
            transform: translateX(200px)
    }
    .marcoARG{
        justify-items: center;
        text-align: center;
        width: 600px;
        height: 475px;
        background-color: rgb(28, 192, 241);
        border-radius: 5px;
        border-style: outset;
        border-color: rgb(216, 231, 9);
    }
    .informacionARG{
        color: aliceblue;
        text-align: center;
        font-weight: 700;
        align-items: center;
        margin-top: 20px;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .grids4{
        display: grid;
        grid-template-rows: 6% 23% 22% 23% 23% 3%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .pie{
        grid-area: footer;
    }
    .grids5{
        display: grid;
        grid-template-rows: 5% 18% 19% 18% 19% 19% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .pie{
        grid-area: footer;
    }
    .grids6{
        display: grid;
        grid-template-rows: 4% 15% 17% 15% 17% 15% 15% 2%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .pie{
        grid-area: footer;
    }
    .grids7{
        display: grid;
        grid-template-rows: 3.3% 13% 14% 14% 14% 13% 13% 14% 1.7%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "section07"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .section07{
        grid-area: section07;
    }
    .pie{
        grid-area: footer;
    }
    .grids8{
        display: grid;
        grid-template-rows: 3% 11.7% 12% 12% 12% 12% 12% 12% 12% 1.3%;
        grid-template-areas: 
        "header"
        "section01"
        "section02"
        "section03"
        "section04"
        "section05"
        "section06"
        "section07"
        "section08"
        "footer";
    }
    .header{
        grid-area: header;
    }
    .section01{
        grid-area: section01;
    }
    .section02{
        grid-area: section02;
    }
    .section03{
        grid-area: section03;
    }
    .section04{
        grid-area: section04;
    }
    .section05{
        grid-area: section05;
    }
    .section06{
        grid-area: section06;
    }
    .section07{
        grid-area: section07;
    }
    .section08{
        grid-area: section08;
    }
    .pie{
        grid-area: footer;
    }
    .marco{
    justify-items: center;
    text-align: center;
    width: 600px;
    height: 400px;
    background-color: rgb(216, 32, 84);
    border-radius: 5px;
    border-style: unset;
    border-color: rgb(164, 19, 60);
    }
    .informacion{
    text-align: center;
    font-weight: 700;
    align-items: center;
    margin-top: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .nav-link{
        background-color: rgb(192, 27, 74);
    }
    .navbar-brand, .nav-item{
        font-size: 42px;
        margin: 6px;
    }
    .collapse{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .navbar, .navbar-expand-lg{
        background-color: rgb(164, 19, 60);
    }  

    .li1{
        display: inline-flex;
        list-style-type: none;
        font-size: 45px;
        text-align: center;
        text-decoration: none;
        background-color: rgb(164, 19, 60);
    }
    
    .navegator{
    display: flex;
    justify-content: center;
    background-color: rgb(105, 48, 195);
    }
    
    body{
       width: 100%;
        background-color: rgb(237, 242, 244)
    }
    
    .centro{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .imagen01, .imagen02, .imagen03{ 
        display: flex;
        justify-content: center;
        margin-top: 10px;    
        margin-bottom: 10px;
        border: inset 10px rgb(141, 153, 174);
    }
    
    .video600{
        display: flex;
        justify-content: center;
    }
    .video601{
        width: 829px;
        height: 480px;
        margin-right: 10px;
        border: outset 15px rgb(141, 153, 174);
    }
    
    .titulo{
        color: rgb(216, 151, 60);
        text-align: center;
        font-size: 45px;  
        font-family: 'Secular One', sans-serif;
        background-color: rgb(114, 9, 183);
       
    
    }
    .head2{
        width: 100%;
    
    }
    .head2{
        margin-top: 30px;
    }
    .center2{
        margin-left: 10px;
    }
    .row{
        margin-top: 50px;
    }
    .row{
        width: 100%;
    }
    
    .title{
        margin-top: 20px;
        padding-top: 10px;
        font-size: 45px;
        font-weight: bolder;
        font-family: 'Manrope', sans-serif;
        font-family: 'Secular One', sans-serif;
        text-decoration: underline;
        text-align: center;
    
    }
    .center1{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
    .Texto1{
        text-align: center;
        width: 400px;
        height: 330px;
        font-size: 40px;
        background-color: rgb(216, 32, 84);
        font-family: 'Cinzel', serif;
        border-radius: 25px;
        border-style: solid;
        border-color: rgb(164, 19, 60);
    }
    
    .header1{
        color: rgb(216, 151, 60);
        font-weight: 700;
        text-align: center;
        justify-content: center;
        width: 400px;
        height: 115px;
        border-radius: 5px;
        border-style: solid;
        border-color: rgb(164, 19, 60);
        background-color: rgb(216, 32, 84);
        font-size: 42px;
    }
    
    .gridSections1{
        display: grid;
        grid-template-rows: 41% 43% 16%;
        grid-template-areas: 
        "head1"
        "center1"
        "footer"
        ;
    }
    .head1{
        grid-area: head1;
    }
    .center1{
        grid-area: center1;
    }
    .pie{
        grid-area: footer;
    }
    footer{
        width: 100%;
        margin-top: 70px;
        background-color: rgb(105, 48, 195);
        display: grid;
        grid-template-rows: repeat(2,fr);
        grid-row-gap: 10px;
        grid-template-areas: 
        "info social"
        ;
    }
    .tPie{
        font-size: 40px;
    }
    
    .info{
        grid-area: info;
        width: 12px;
        height: 12px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-right: 2px;
    }
    .social{
        display: inline-flex;
        flex-direction: row;
        grid-area: social;
        margin-top: 10px;
        margin-left: 100px;
       
    }
    
    .ig, .facebook, .twitter, .paypal{
       display: inline-block;
       margin-left: 40px;
       margin-right: 40px;
    }
}
