@mixin grid00{
    header{
        grid-area: header;
    }
    
    .centros{
        grid-area: centro;
    }
    
    .video600{
        grid-area: video600;
    }
    
    footer{
        grid-area: footer;
    }
}