$bodycolor: rgb(237, 242, 244);
$footercolor:rgb(105, 48, 195);
$Navtextocolor:rgb(216, 151, 60);
$Navbarcolor:rgb(164, 19, 60);
$ColordelTitulo:rgb(114, 9, 183);
$Colorletratitulo:rgb(215, 151, 60);
$ColorContrasteNav: rgb(192, 27, 74);
$Navegador2color: rgb(105, 48, 195);