
.grid{
    display: grid;
    grid-template-rows:  29% 44% 17% 10%;
    grid-template-areas: 
    "header"
    "centro"
    "video600"
    "footer";

}

@include grid00;

.grids{
    display: grid;
    grid-template-rows: 21% 27% 10% 26% 10% 6%;
    grid-template-areas: 
    "header"
    "centros"
    "videos600"
    "centros1"
    "videos602"
    "footer";
}
.pie{
    grid-area: footer;
}
.centros1{
    grid-area: centros1;

}
.videos602{
    grid-area: videos602;
}
.header{
    grid-area: header;
}
.centros{
    grid-area: centros;
}
.videos600{
    grid-area: videos600
}
.gridSections1{
    display: grid;
    grid-template-rows: 61% 20% 19%;
    grid-template-areas: 
    "head1"
    "center1"
    "footer"
    ;
}
.head1{
    grid-area: head1;
}
.center1{
    grid-area: center1;
}
.pie{
    grid-area: footer;
}

.grids4{
    display: grid;
    grid-template-rows: 11% 21% 21% 21% 22% 4%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.pie{
    grid-area: footer;
}
.grids5{
    display: grid;
    grid-template-rows: 9% 18% 17% 18% 17% 18% 3%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.pie{
    grid-area: footer;
}
.grids6{
    display: grid;
    grid-template-rows: 7% 15% 15% 15% 15% 15% 15% 3%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "section06"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.section06{
    grid-area: section06;
}
.pie{
    grid-area: footer;
}
.grids7{
    display: grid;
    grid-template-rows: 7% 13% 13% 13% 13% 13% 13% 13% 2%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "section06"
    "section07"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.section06{
    grid-area: section06;
}
.section07{
    grid-area: section07;
}
.pie{
    grid-area: footer;
}
.grids8{
    display: grid;
    grid-template-rows: 6% 12% 12% 11% 12% 11% 12% 11% 11% 2%;
    grid-template-areas: 
    "header"
    "section01"
    "section02"
    "section03"
    "section04"
    "section05"
    "section06"
    "section07"
    "section08"
    "footer";
}
.header{
    grid-area: header;
}
.section01{
    grid-area: section01;
}
.section02{
    grid-area: section02;
}
.section03{
    grid-area: section03;
}
.section04{
    grid-area: section04;
}
.section05{
    grid-area: section05;
}
.section06{
    grid-area: section06;
}
.section07{
    grid-area: section07;
}
.section08{
    grid-area: section08;
}
.pie{
    grid-area: footer;
}