.centros, .centros1, .section01, .section02, .section03, .section04, .section05, .section06, .section07, .section08{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .H2titulo{
        display: flex;
        justify-content: center;
        .title{
            margin-top: 20px;
            padding-top: 10px;
            font-size: 11px;
            font-weight: bolder;
            font-family: 'Manrope', sans-serif;
            font-family: 'Secular One', sans-serif;
            text-decoration: underline;
            text-align: center;
        
        }
    }
    .marco{
        justify-items: center;
        text-align: center;
        width: 250px;
        height: 150px;
        background-color: rgb(216, 32, 84);
        border-radius: 5px;
        border-style: unset;
        border-color: rgb(164, 19, 60);
        .informacion{
            text-align: center;
            font-weight: 700;
            align-items: center;
            margin-top: 20px;
            font-size: 12px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    }
    .imagenes, .imagenes1{
        justify-content: center;
        .imagen01, .imagen02, .imagen03{ 
            margin-top: 10px;
            margin-right: 5px;
            margin-bottom: 10px;
            margin-left: 5px;
            border: inset 10px rgb(141, 153, 174);
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 2.5s;
        }
    
    }
    .video600{
        display: flex;
        justify-content: center;
        .video601{
            border: outset 15px rgb(141, 153, 174);
        }
    }

}
.centros1:hover .img001{
    transform: translateX(-50px)
    }
    
.centros1:hover .img002{
        transform: translateX(50px)
        }

        .centros:hover .img001{
            transform: translateX(-50px)
        }
        .centros:hover .img002{
            transform: translateX(50px)
        }

